@import "tailwindcss";
 


body {
	margin:0;
	background:#15151e;
	overflow-x:hidden;
}



.races h2 {
	font-family: 'Staatliches', cursive;
	font-size:clamp(100px, 30vw, 30vh);
	flex-shrink:0;
	padding-right:0.3em;
	padding-left:0.3em;
	color:#e10600;
	
	margin:0;	
}

.races h2:last-of-type {
	/* background:#e1e1ff; */
}

.lightBG {
	background:#313143;
}

.maps {
  position: relative;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	/* border:1px solid red; */
	height:30vh;
}
.map {
	height: 100%;
	opacity:0;
	position:absolute; 
}

.races {
	width:fit-content;
	display:flex;
	flex-wrap:nowrap;
}

.space-20vh {
	height:20vh;
}

.space-30vh {
	height:30vh;
}

.space-50vh {
	height:50vh;
}

.space-100vh {
	height:100vh;
}